<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="oj-hybrid-padding">
  <h1>Employees</h1>
  
  <oj-picto-chart id='pictochart1' 
            items="[[pictoChartItems]]"
            animation-on-display="auto"
            column-count="5"
            style="vertical-align:middle; margin-right:15px">
          </oj-picto-chart>
  
  <div style="display:inline-block; vertical-align:middle; font-weight:bold">
            <span style="color:#333333; font-size:1.1em">7 out of 10 college students</span><br>
            <span style="color:#ed6647; font-size:1.3em">have sleep problems.</span>
          </div> 
</div>
